body {
  height: 100vh;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-image: url(background.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  padding-bottom: 10rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

.fixed-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist {
  width: calc(100% - 30rem);
}

.playlist-card {
  margin-left: 7px;
  margin-right: 7px;
  word-break: break-word;
  max-width: calc((100%)/7 - 14px);
  width: calc((100%)/7 - 14px);
}

@media(max-width: 1650px) {
  .playlist-card {
    max-width: calc((100%)/6 - 14px);
    width: calc((100%)/6 - 14px);
  }
}

@media(max-width: 1440px) {
  .playlist-card {
    max-width: calc((100%)/5 - 14px);
    width: calc((100%)/5 - 14px);
  }
}
