body {
  height: 100vh;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(background.svg);
  background-size: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
