@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn {
    @apply dark:bg-black;
  }

  .navigation {
    @apply p-2 flex justify-between items-center;
  }

  .card {
    @apply w-96 bg-base-100 shadow-xl dark:bg-black;
  }

  .playlist-card {
    @apply bg-base-100 shadow-xl dark:bg-black break-words;
    margin-left: 7px;
    margin-right: 7px;
    word-break: break-word;
    /* max-width: calc((100vw - (30rem + (5*0.80rem)))/5); */
    /* max-width: calc(((100vw - 30rem)/5) - 0.80rem); */
    max-width: calc(((100vw - 30rem)/5) - 17px);
  }
}

