@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .btn {
    @apply dark:bg-black;
  }

  .navigation {
    @apply p-3 flex justify-between items-center;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .card {
    @apply w-96 bg-base-100 shadow-xl dark:bg-black relative;
  }

  .card-body .playlist-items {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .card .card-title {
    line-height: 1.2;
  }

  .playlist-card {
    @apply bg-base-100 shadow-xl dark:bg-black break-words;
  }
}

